.Skills-pc{
    width: 100vw;
    height: 90vh;
    display:none;
    margin-top: 50px;

}

.skils-pt1{
  width: 50%;
  height: 100%;

}
.skils-pt2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding:50px;

    font-size: 30px;
  }




  @media screen and (min-width: 1024px) {

    .Skills-pc{
      display: flex;
    }
  }