#Top-Heading{
    font-weight: 300;
    color: #F9F0E1;
    padding-left: 20px;
}

#Top {
  height: 100vh;
  width: 100%;
  display: flex; /* Use flex to center the content */
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hide the element */
  transition: opacity 1s ease-in-out; /* Smooth transition */
}

/* When the element is visible */
#Top.visible {
  opacity: 1; /* Make it visible */
}


    #Top-Heading-Name{
        font-size: 30px;
        font-weight: 300;
        color: #F9F0E1;
        padding-left: 20px;
        width: 80%;
    }

    #Top-Heading-Name-2{
        width: 50%;
        font-size: 30px;
        font-weight: 300;
        color: #F9F0E1;
        padding-left: 20px;
        display: none;
    }

@media screen and (min-width: 1080px) {

  
   #Top-Heading-Name-2{
    display: block;
   }

   #Top{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
   #Top-Heading-Container{
    width: 80%;
    justify-content: center;
    align-items: center;
   }
  
  }
  

  @media screen and (min-width: 1080px) {

    #Top-Heading{
      margin-left:68px;
      font-size: 28px;
     }
   
  
     #Top-Heading-Name{
      margin-left:68px;
      width: 70%;
      font-size: 38px;
     }
  
  
  
  }

#Top-Heading-Container {
  perspective: 1000px;
  transform-style: preserve-3d;
}

#Top-Heading, #Top-Heading-Name {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}


.Topbtm-start-text{
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  color: #F9F0E1;
  text-decoration: none;
  /* Create gradient underline */
  background-image: linear-gradient(to right, #F9F0E1, #F9F0E1);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 70% 1px;
  /* Add smooth transition for hover effects */
  transition: background-size 0.3s ease;
}

/* Optional: Hover effect that thickens the underline */

.Top-Mid-Container-Text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  width: 75%;
  font-size: 20px;
  
}

@media screen and (min-width: 768px) {
  .Top-Mid-Container-Text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .Top-Mid-Container-Text {
    font-size: 28px;
    width: 45%;
  margin: 0%;
  margin-left:12%;
  }
  .Topbtm-start{
    display: none;
  }
  .projects-whole-cont{
    display: none;
  }
}






.Topbtm-start{
  font-weight: 400;
  font-size: 20px;
  margin-left: 12.9%;
  margin-top: 80px;
  
  text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(0, 0, 0, 0.4);
  color:wheat;
  
  height: auto;
}



@media screen and (min-width: 768px) {
.Topbtm-start-text {
  font-size: 30px;
   
}
}


Skills-btn-text{

  font-size: 18px;

}


.Skills-btn{
  width: auto;
  min-width: 10px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(44, 44, 44); */
  background-color:#121212;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: 1px solid #F9F0E1;
  color: #F9F0E1;
  font-size: 15px;
  padding: 10px 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}



.Skills-btn:hover {
  background-color: rgb(56, 56, 56);
}




.Skills-btn:active {
  transform: scale(0.8);
}

.Skills-btn-text{

  margin-left: 10px;
}

#img-skills{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.Skills-container{
  display: flex;
  flex-wrap: wrap;

}

.Projects-cont{
  font-size: 30px;
  margin-top: 55px;
  background-image: linear-gradient(to right, #F9F0E1, #F9F0E1);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 70% 1px;
  /* Add smooth transition for hover effects */
  transition: background-size 0.3s ease;
  font-weight: 300;
}


.projects-whole-cont{
    margin-left: 12%;
}

.Project-title{
  font-size:20px; /* Base size for mobile */
  margin-top: 27px;
  margin-bottom:16px;
}

@media screen and (min-width: 768px) {
  .Project-title {
    font-size:24px; /* Medium screens */
  }
}

@media screen and (min-width: 1024px) {
  .Project-title {
    font-size: 28px; /* Larger screens */
  }
}


.responsive-image {
  max-width: 100%;
  height:140px;
  display: block;
  border-radius:10px;
  object-fit: cover;
}

